<nav aria-label="Auxiliary" class="aux-nav">
    <ul class="aux-nav-list">
      {% for link in site.aux_links %}
        <li class="aux-nav-list-item">
          <a href="{{ link.last }}" class="site-button"
            {% if site.aux_links_new_tab %}
            target="_blank" rel="noopener noreferrer"
            {% endif %}
          >
            {{ link.first }}
          </a>
        </li>
      {% endfor %}
      <li>
        <p>
          <button class="btn js-toggle-dark-mode">
            Preview dark color scheme
          </button>
        </p>
        <script> 
          const toggleDarkMode = document.querySelector('.js-toggle-dark-mode'); 
          
          // const toggleDarkMode = document.querySelector('.js-toggle-dark-mode'); 
          jtd.addEvent(toggleDarkMode, 'click', function() { 
            if (jtd.getTheme() === 'dark') { 
              jtd.setTheme('light'); 
              toggleDarkMode.textContent = 'Preview dark color scheme'; 
            } else { 
              jtd.setTheme('dark'); 
              toggleDarkMode.textContent = 'Return to the light side'; 
            } 
          }); 

          // jtd.addEvent(toggleDarkMode, 'click', function() {

          //   if (jtd.getTheme() === 'default') {
          //     jtd.setTheme('dark');
          //     toggleDarkMode.textContent = 'Включить свет';
          //   } else if (jtd.getTheme() === 'dark') {
          //     jtd.setTheme('light');
          //     toggleDarkMode.textContent = 'Выключить свет';
          //   } else {
          //     jtd.setTheme('dark');
          //     toggleDarkMode.textContent = 'Включить свет';
          //   }
          //   // if (!localStorage.getItem('theme')) {
          //   //   localStorage.setItem('theme', 'dark');
          //   //   jtd.setTheme('dark');
          //   //   toggleDarkMode.textContent = 'Return to the light side';
          //   // } else if (localStorage.getItem('theme') === 'dark') {
          //   //   localStorage.setItem('theme', 'light');
          //   //   jtd.setTheme('light');
          //   //   toggleDarkMode.textContent = 'Preview dark color scheme';
          //   // } else {
          //   //   localStorage.setItem('theme', 'dark');
          //   //   jtd.setTheme('dark');
          //   //   toggleDarkMode.textContent = 'Return to the light side';
          //   // }
          // });
        </script>
      </li>
    </ul>
  </nav>